.container {
  width: calc(100% - 4vw);
  margin: 2vw;
  background-color: #262736;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > * {
  padding: 20px;
}