.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vw;
}

.select {
  width: 40%;
  background-color: #262736;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 2rem;
  margin: 2vw;
  text-align: center;
  height: fit-content;
  padding: 2vw;
}