.affiliation {
    display: flex;
    background-color: #1F202A;
    width: 10vw;
    align-items: center;
    flex-direction: column;
    border: 2px solid #3B3E50;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 20px;
}

.affiliation_title {
    text-align: center;
    text-decoration: underline 4px solid #3B3E50;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 3px solid #3B3E50;
    letter-spacing: -1px;
    padding: 1rem;
    border-radius: 20px;
    font-family: "Apple SD Gothic Neo", sans-serif;
}

.affiliation_body {
    border: 3px solid #3B3E50;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    font-family: "Apple SD Gothic Neo", sans-serif;
}

@media only screen and (max-width: 768px) {
    .affiliation {
        width: 35vw;
    }
}

@media only screen and (max-width: 1088px) {
    .affiliation {
        width: 40vw;
    }
}