* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #171821;
}
::selection {
  background-color: #22224b;
  color: #8d9fe7;
}
a {
  color: inherit;
  text-decoration: none;
}
