.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  //margin-top: 45vh;
  display: flex;
  justify-self: center;
  align-items: center;
}


.affiliation {
  color: white;
  align-self: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.image {
  flex-direction: column;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
}
.image > Image {
  user-select: none;
}

.navigation {
  width: fit-content;
  flex: 1;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.rotater {
  animation: rotate 12s infinite linear;
}

.promocode {
  color: white;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 5px solid #262736;
  border-radius: 20px;
  font-family: Questrial, sans-serif;
  position: absolute;
  bottom: 2vh;
  padding: 1vw;
  background-color: #1F202A;
  text-align: center;
  align-self: center;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.promocode > h1 > span {
  //color: blue;
  border-radius: 15px;
  text-decoration: underline 5px solid #fde79e;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(0deg);
  }

  100% {

  }
}

@media (max-width: 768px) {
  .promocode {
    position: absolute;
    z-index: 1;
    bottom: 30vw;
    right: 5px;
    width: 50%;
  }
}

.tooltipcontent {
  text-align: center;
  background-color: #262736;
  font-family: Questrial, sans-serif;
  font-weight: 600;
  z-index: 1;
  padding: 1vw;
}