.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  color: white;
  //font-size: 1.5rem;
  text-align: center;
  font-family: Questrial, sans-serif;
  margin: 2vw;
  padding: 2vw;
  border-radius: 14px;
  background-color: #262736;
}
.card > ul > h2 {
  display: list-item;
  list-style-position: inside;
  text-decoration: underline 3px;
}
.legend {
  color: white;
  text-align: center;
  font-family: Questrial, sans-serif;
  font-size: 1.3rem;
  border: 5px solid #3B3E50;
  border-radius: 18px;
  padding: 1vw;
  background-color: #262736;
}
.legend > h1 {
  margin: 1vw;
  text-decoration: underline 3px;
}
.one {
  color: white;
}

.four {
  color: yellow;
}
.five {
  color: lightblue;
}
.six {
  color: orange;
}
.seven {
  color: pink;
}

.list {
  list-style-type: square;
}

.two {
  list-style-type: disc;
}
.three {
  list-style-type: circle;
}
