.container {
  margin: 2vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #1F202A;
  padding: 1vw;
  border-radius: 17px;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  font-family: Questrial, sans-serif;
}
.image {
  border-radius: 16px;
}
.imgchild {
  border-radius: 16px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  text-align: center;
  background-color: #262736;
  height: fit-content;
  padding: 1vw;
  margin: 2vw;
  border-radius: 15px;
}